/* Global Styles */

body {
    /* background-color: rgba(15, 15, 54, 0.26); */
}

#logo img{
    width: 20%;
    max-width: 200px;
}

/* .nav-wrapper {
    position:relative;
} */

/* Splash Page */

#splash-page-container-show{
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
    background-image: url("https://images.squarespace-cdn.com/content/v1/52001f7ce4b0929e453b7ea1/1484271450322-JI8WZD7UXA3NLGTGNEW5/installationdetail1.jpg?format=2500w");
    background-position: left;
}


/* Links */
a {
    text-decoration: none;
}

a:link {
    color: rgba(0, 0, 0, 0.913);
}

a:visited {
    color: #000;
}

a:hover {
    color:rgba(248, 215, 0, 0.913);
}

a:active {
    color:rgba(248, 215, 0, 0.913);
}


/* Headers */

/* #headers h1 {
    font-family: 'Mrs Sheppards';
    font-size: 5em;
    letter-spacing: .15em;
} */

/* #headers {
    position: absolute;
    top: 10em;
} */



/* Body */

.content-container {
    position: relative;
}


/* Navigation */

.star {
    font-size: 5em;
    font-weight: bold;
}

#nav-container {
    position: absolute;
    z-index: 2;
}

.content-container #nav-container #about {
    position: absolute;
    top: 30px;
    left: 200px;
}

.content-container #nav-container #tarot {
    position: absolute;
    top: 300px;
    left: 150px;
}

.content-container #nav-container #artwork {
    position: absolute;
    top: 100px;
    left: 1000px;
}

.content-container #nav-container #github {
    position: absolute;
    top: 660px;
    left: 1100px;
}


/* Circle Background */

#circle-show {
    position: fixed;
    left: 15%;
    top: 8%;
}

#circle-inside {
    background-image: linear-gradient(rgb(248, 215, 0), rgba(255, 255, 255, 0)); 
    min-width: 55em;
    min-height: 55em;
    border-radius: 50%;
}

#circle-border {
  background: linear-gradient(to right, red, rgb(38, 26, 47));
  min-width: 55em;
  min-height: 55em;
  border-radius: 50%;
}

