/* Global Styles */

body {
    background-color: rgb(255, 255, 255);
}

#logo img{
    width: 20%;
    max-width: 200px;
}

/* .nav-wrapper {
    position:relative;
} */

/* Splash Page */

#splash-page-container-show{
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
    background-image: url("https://images.squarespace-cdn.com/content/v1/52001f7ce4b0929e453b7ea1/1484271450322-JI8WZD7UXA3NLGTGNEW5/installationdetail1.jpg?format=2500w");
    background-position: left;
}


/* Links */
a {
    text-decoration: none;
}

a:link {
    color: rgba(0, 0, 0, 0.913);
}

a:visited {
    color: #000;
}

a:hover {
    color:rgba(248, 215, 0, 0.913);
}

a:active {
    color:rgba(248, 215, 0, 0.913);
}


/* Headers */

/* #headers {
    position: absolute;
    top: 10em;
} */



/* Body */

.content-container {
    position: relative;
}


/* Navigation */

.star {
    font-size: 6em;
    font-weight: 900;
    font-family: 'Mrs Sheppards';
    margin: 0;
}

/* h1 {
    font-family: 'Mrs Sheppards';
    letter-spacing: .15em;
} */

#nav-container {
    position: absolute;
    z-index: 2;
    max-width: 900px;
}

.content-container #nav-container #collapsed-menu {
    position: fixed;
    top: 10px;
    right: 30px;
    color:deeppink;
    font-size: 0.75em;
}

.content-container #nav-container #about h1 {
    position: absolute;
    top: 50px;
    left: 310px;
}

.content-container #nav-container #tarot h1 {
    position: absolute;
    top: 170px;
    left: 150px;
}

.content-container #nav-container #github h1 {
    position: absolute;
    top: 350px;
    left: 50px;
}

.content-container #nav-container #artwork h1 {
    position: absolute;
    top: 550px;
    left: 230px;
}




/* Circle Background */

#circle-show {
    position: fixed;
    left: 0%;
    top: -10%;
}

#circle-inside {
    background-image: linear-gradient(rgb(248, 215, 0), rgba(255, 255, 255, 0)); 
    min-width: 150vh;
    min-height: 120vh;
    border-radius: 50%;
}

#circle-border {
  background: linear-gradient(to right, red, rgb(38, 26, 47));
  min-width: 150vh;
  min-height: 120vh;
  border-radius: 50%;
}

/* About */

#show-about {
    position: absolute;
    top: 200px;
    left: 600px;
    text-align: center;
    display: none;
}

